@font-face {
  font-family: "roboto-light";
  /* Es el nombre de la nueva letra que tendremos para usar en nuestro css */
  src: url("./fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-regular";
  /* Es el nombre de la nueva letra que tendremos para usar en nuestro css */
  src: url("./fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-bold";
  /* Es el nombre de la nueva letra que tendremos para usar en nuestro css */
  src: url("./fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "roboto-light";
  /* Es el nombre de la nueva letra que tendremos para usar en nuestro css */
  src: url("./fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-regular";
  /* Es el nombre de la nueva letra que tendremos para usar en nuestro css */
  src: url("./fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-bold";
  /* Es el nombre de la nueva letra que tendremos para usar en nuestro css */
  src: url("./fonts/Roboto-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  font-size: 1.4vmax;
  color: rgb(255, 255, 255);
  font-family: "roboto-regular";
  text-align: center;
}

.print {
  position: fixed;
  top: 2vh;
  right: 3vw;
}
.print img {
  width: 4vmax;
  height: 4vmax;
}

h1 {
  font-size: 145%;
  color: rgb(85, 150, 180);
  font-family: "roboto-bold";
}

h3 {
  font-size: 100%;
  color: rgb(85, 150, 180);
  font-family: "roboto-bold";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

h4 {
  font-size: 95%;
  color: rgb(85, 150, 180);
  font-family: "roboto-bold";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

h5 {
  font-size: 75%;
  color: black;
  font-family: "roboto-regular";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

h6 {
  font-size: 70%;
  color: rgba(33, 32, 32, 0.68);
  font-family: "roboto-regular";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

pre {
  font-size: 70%;
  color: rgba(33, 32, 32, 0.68);
  font-family: "roboto-regular";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: rgba(55, 52, 52, 0.9);
}

.print:hover {
  transition: 0.3s;
  opacity: 0;
}

.print:focus {
  opacity: 1;
}

body {
  width: 100vw;
  height: 100vh;
  background: RGB(85, 150, 180, 0.35);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

header {
  width: 38%;
  height: 100%;
  background: RGB(85, 150, 180, 0.35);
  margin: 0;
}
header img {
  height: 8vmax;
  width: 8vmax;
  background: RGB(85, 150, 180, 0.35);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  padding: 0.2vmax;
  margin: 3vh 0 2.5vh 0;
}
header div {
  width: 80%;
  height: 1.5vmax;
  background: rgb(85, 150, 180);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 2vh;
  border-radius: 0 4vmax 2vmax 0;
}
header div h2 {
  font-family: "roboto-bold";
  font-size: 75%;
}

.locations {
  width: 100%;
  height: 15%;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 2vh 0 0 5%;
}
.locations div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  height: 33.33%;
  background: transparent;
  margin-top: 1.5%;
}
.locations div a {
  height: 100%;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  text-decoration: none;
}
.locations div a img {
  border: 1.5px solid rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  height: 1.65vmax;
  width: 1.65vmax;
  background: transparent;
  padding: 0.3vmax;
}
.locations div a p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 2.5%;
  margin-left: 5%;
  font-size: 72%;
  text-align: start;
}
.locations div a:hover {
  transition: 0.3s;
  opacity: 0.5;
}

.skills_tittle {
  margin-top: 5vh;
}

.skills {
  width: 100%;
  height: 35%;
  background: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.bar25 {
  width: 92%;
  height: 4%;
  background: transparent;
  border: 0 solid transparent;
  border-radius: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2vh 0 0 0%;
}
.bar25 div {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 52%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border: 0 solid transparent;
  border-radius: 24px;
  margin: 0;
}
.bar25 div div {
  width: 25%;
  height: 100%;
  background: rgb(74, 168, 185);
  position: absolute;
  left: 0;
  bottom: 0px;
  -webkit-animation-name: skillbar25;
          animation-name: skillbar25;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.bar25 p {
  margin: 0 0 0 4%;
  font-size: 72%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 70px;
  text-align: start;
}

@-webkit-keyframes skillbar25 {
  0% {
    width: 0%;
  }
  75% {
    width: 30%;
    background-color: rgb(112, 212, 159);
  }
  100% {
    width: 25%;
  }
}

@keyframes skillbar25 {
  0% {
    width: 0%;
  }
  75% {
    width: 30%;
    background-color: rgb(112, 212, 159);
  }
  100% {
    width: 25%;
  }
}
.bar50 {
  width: 92%;
  height: 4%;
  background: transparent;
  border: 0 solid transparent;
  border-radius: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2vh 0 0 0%;
}
.bar50 div {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 52%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border: 0 solid transparent;
  border-radius: 24px;
  margin: 0;
}
.bar50 div div {
  width: 50%;
  height: 100%;
  background: rgb(74, 168, 185);
  position: absolute;
  left: 0;
  bottom: 0px;
  -webkit-animation-name: skillbar50;
          animation-name: skillbar50;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.bar50 p {
  margin: 0 0 0 4%;
  font-size: 72%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 70px;
  text-align: start;
}

@-webkit-keyframes skillbar50 {
  0% {
    width: 0%;
  }
  75% {
    width: 60%;
    background-color: rgb(112, 212, 159);
  }
  100% {
    width: 50%;
  }
}

@keyframes skillbar50 {
  0% {
    width: 0%;
  }
  75% {
    width: 60%;
    background-color: rgb(112, 212, 159);
  }
  100% {
    width: 50%;
  }
}
.bar75 {
  width: 92%;
  height: 4%;
  background: transparent;
  border: 0 solid transparent;
  border-radius: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2vh 0 0 0%;
}
.bar75 div {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 52%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border: 0 solid transparent;
  border-radius: 24px;
  margin: 0;
}
.bar75 div div {
  width: 75%;
  height: 100%;
  background: rgb(74, 168, 185);
  position: absolute;
  left: 0;
  bottom: 0px;
  -webkit-animation-name: skillbar75;
          animation-name: skillbar75;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.bar75 p {
  margin: 0 0 0 4%;
  font-size: 72%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 70px;
  text-align: start;
}

@-webkit-keyframes skillbar75 {
  0% {
    width: 0%;
  }
  50% {
    background-color: rgb(112, 212, 159);
    width: 85%;
  }
  75% {
    width: 75%;
  }
}

@keyframes skillbar75 {
  0% {
    width: 0%;
  }
  50% {
    background-color: rgb(112, 212, 159);
    width: 85%;
  }
  75% {
    width: 75%;
  }
}
.bar100 {
  width: 92%;
  height: 4%;
  background: transparent;
  border: 0 solid transparent;
  border-radius: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2vh 0 0 0%;
}
.bar100 div {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 52%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border: 0 solid transparent;
  border-radius: 24px;
  margin: 0;
}
.bar100 div div {
  width: 100%;
  height: 100%;
  background: rgb(74, 168, 185);
  position: absolute;
  left: 0;
  bottom: 0px;
  -webkit-animation-name: skillbar100;
          animation-name: skillbar100;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.bar100 p {
  margin: 0 0 0 4%;
  font-size: 72%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 70px;
  text-align: start;
}

@-webkit-keyframes skillbar100 {
  0% {
    width: 0%;
  }
  100% {
    background-color: rgb(112, 212, 159);
    width: 100%;
  }
}

@keyframes skillbar100 {
  0% {
    width: 0%;
  }
  100% {
    background-color: rgb(112, 212, 159);
    width: 100%;
  }
}
main {
  display: block;
  margin-left: 0.5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 55%;
  height: 100%;
  background: rgba(233, 243, 246, 0.9);
  padding: 0 1vw 0 3vw;
}
main h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1.5vh;
}
main hr {
  margin: 1.5vh 0;
  border: 3px solid rgb(13, 112, 157);
  width: 20%;
  background-color: rgb(13, 112, 157);
}

.author {
  position: relative;
  width: 100%;
  height: auto;
  background: transparent;
  margin: 1.2vmax 0 0 0;
}
.author p {
  font-size: 70%;
  color: black;
  font-family: "roboto-regular";
  margin: 3% 0 0 0%;
  text-align: left;
  width: 90%;
  color: rgba(55, 52, 52, 0.9);
}

.author::before {
  content: "";
  position: absolute;
  top: -0.4125vmax;
  left: -2.31vmax;
  height: 1.65vmax;
  width: 1.65vmax;
  background: transparent;
  background-image: url("./img/profile.svg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid RGB(85, 150, 180, 0.35);
  border-radius: 50%;
}

.works {
  position: relative;
  margin-top: 1.5vmax;
}
.works h4 {
  position: relative;
}
.works h5 {
  margin-top: 1.5%;
}
.works h6 {
  margin-bottom: 1%;
}
.works pre {
  text-align: left;
  width: 90%;
}

.works::before {
  content: "";
  position: absolute;
  top: -0.4125vmax;
  left: -2.31vmax;
  height: 1.65vmax;
  width: 1.65vmax;
  background: transparent;
  background-image: url("./img/home-work.svg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid RGB(85, 150, 180, 0.35);
  border-radius: 50%;
}

.education {
  position: relative;
  margin-top: 1.5vmax;
}
.education h4 {
  position: relative;
}
.education h5 {
  margin-top: 1.5%;
}
.education h6 {
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
}
.education pre {
  text-align: left;
  width: 90%;
}

.education::before {
  content: "";
  position: absolute;
  top: -0.4125vmax;
  left: -2.31vmax;
  height: 1.65vmax;
  width: 1.65vmax;
  background: transparent;
  background-image: url("./img/education.svg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid RGB(85, 150, 180, 0.35);
  border-radius: 50%;
}

@media only screen and (min-width: 200mm) and (max-height: 297mm) {
  html {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
  }

  body {
    width: 65%;
  }
}
@media only screen and (max-width: 480px) {
  * {
    font-size: 5vw;
  }

  html {
    background-color: white;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
  }

  header {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  header img {
    height: 45vw;
    width: 45vw;
    background: transparent;
  }

  .skills_tittle, .contact_tittle {
    height: 3vh;
  }

  .locations {
    width: 95%;
    height: 15%;
    background: transparent;
  }
  .locations div a img {
    height: 6vw;
    width: 6vw;
    background: transparent;
  }

  .skills {
    height: 30%;
  }

  main {
    min-width: 90%;
    padding-left: 0 0 2% 0;
    margin: 0 0 0 5%;
  }

  .author {
    margin-left: 5%;
    position: relative;
    width: 100%;
    height: auto;
    background: transparent;
  }

  .author::before {
    content: "";
    position: absolute;
    top: -0.75vmax;
    left: -4.2vmax;
    height: 3vmax;
    width: 3vmax;
    background: transparent;
    background-image: url("./img/profile.svg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }

  .works {
    margin-left: 5%;
  }
  .works pre {
    font-size: 60%;
  }

  .works::before {
    content: "";
    position: absolute;
    top: -0.75vmax;
    left: -4.2vmax;
    height: 3vmax;
    width: 3vmax;
    background: transparent;
    background-image: url("./img/home-work.svg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }

  .education {
    margin-left: 5%;
  }
  .education h5 {
    text-align: left;
  }

  .education::before {
    content: "";
    position: absolute;
    top: -0.75vmax;
    left: -4.2vmax;
    height: 3vmax;
    width: 3vmax;
    background: transparent;
    background-image: url("./img/home-work.svg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 1520px) {
  * {
    font-size: 1.1vw;
  }
}/*# sourceMappingURL=style.css.map */